// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 62.5%;
  font-family: "indie flower", cursive;
}
// mixins //

//variable//
@back: lightgray;
@main: black;
@bright: green;

body {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}
.container {
  font-size: 2rem;
  @media (max-width: 800px) {
    width: 100%;
  }

  @media (max-width: 500px) {
    width: 100%;
  }
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  a {
    color: @bright;
    padding: 15px 2%;
  }
}

header {
  background-color: @back;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 35px 2%;

  h1,
  p,
  button {
    margin: 25px 0;
  }
  h1 {
    font-size: 4rem;
    font-weight: bold;
  }
}

p {
  font-size: 3rem;
}

button {
  background-color: @bright;
  background: none;
  border: 2px solid black;
  height: 30px;
  width: 125px;
  border-radius: 3px;
}

.about-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  h2 {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-weight: bold;
    margin: 30px 30px;
  }
  p {
    font-size: 3rem;
    display: flex;
    justify-content: flex-end;
    margin: 30px 30px;
  }

  .about-info {
    width: 75%;
    display: flex;
    justify-content: center;
  }
}

.contact {
  display: flex;
  justify-content: flex-start;

  h3 {
    font-size: 5rem;
  }
  p {
    display: flex;
    font-size: 1.5rem;
  }
}

footer {
  display: flex;
  justify-content: center;
  margin: 20px 20px;
  font-size: 1.75rem;
}
